.container > header {
  text-align: center;
  margin: 17px;
}
@media only screen and (max-width: 800px) {
  header > input {
    width: 80%;
  }
}
h1 {
  font-size: 4.4em;
}
.row > p {
  font-size: 0.8em;
}

input {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1.1em;
  width: 45%;
  margin-right: 10px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

hr {
  margin-top:0;
  height: 2px;
  background-color: #34626c; 
  margin-bottom:20px;
}
header >h5{
  text-align: left;
  font-style:italic;
  font-weight:300;
}
